#contenedor{
    margin-top: 30px;
}
#datos{

    border: solid 1px blue;
    width: 30%;
    display: block;
    padding-left: 2%;
    padding-bottom: 2%;
    margin: auto;
    margin-top: 10px;
}
#datos a{
    text-decoration: none;
    color: white;
    border-radius: 10%;
    background-color: blue;
    padding: 8px;
    margin: 5px;
    margin-top: 8px;
}
.boton{
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: blue;
    margin-left: 60%;
}