#contenedor {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#datos {
    border: solid 1px rgb(43, 46, 226);
    width: 30%;
    width: calc(100% - 40px); /* ancho menos margen y borde */
    padding-left: 2%;
    padding-bottom: 2%;
    margin: auto;
    margin-top: 10px;
    max-width: 300px; /* un ancho máximo para evitar que sea demasiado grande */
}
#datos h1 {
    padding: 0%;
    margin-left: 5px;
    margin-right: 5px;
}
#datos a {
    text-decoration: none;
    color: white;
    border-radius: 10%;
    background-color: rgb(43, 46, 226);
    padding: 8px;
    margin: 5px;
    margin-top: 8px;
}
.boton {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: rgb(43, 46, 226);
    position: absolute;
    top:-3;
    left: 55%;
    display: block;
}
@media (max-width: 768px) {
    #datos {
        width: 80%;
        padding-left: 5%;
    }
    .boton {
        margin-left: auto;
        margin-right: auto;
    }
}