#contenedor{
    margin-top: 30px;
}
#contenedor a{
    text-decoration: none;
    color: white;
    background-color: rgb(43, 46, 226);
    padding: 8px;
    margin-left: 58%;
}
#datos{
    border: solid 1px rgb(43, 46, 226);
    width: 30%;
    display: block;
    padding-left: 2%;
    padding-bottom: 2%;
    margin: auto;
    margin-top: 8px;
    
}
.boton{
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: rgb(43, 46, 226);
    align-items: left;
    margin-top: 10px;
    border-radius: 10%;
}


@media (max-width: 750px) {
    #datos {
        width: 60%;
        margin-left: 20%;;
    }
    .boton {
        margin-left: auto;
        margin-right: auto;
    }
}