body {
  height: 100vh; /* Alto de la pantalla */
  margin: 0;
  padding: 5px;
}

header,
header a {
  padding: 5px;
  border: 1px solid rgb(43, 46, 226);
  text-decoration: none;
  color: rgb(43, 46, 226);
  margin-bottom: 10px;
}

#buscador {
  background-color: blue;
  position: fixed;
  width: fit-content;
  left: 40px;
  margin-left: 60%;
}

#buscador div {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 7px;
}

#titularesBox {
  border: solid 1px blue;
  width: 60%;
  text-align: left;
  margin: auto;
  padding-top: 10px;
  padding-left: 5%;
}

#formularioTitular {
  display: inline-block !important;
  box-sizing: border-box;
  background-color: blue;
  text-decoration: none;
  text-align: center;
  color: white;
  margin-left: 53%;
  padding-top: 10px;
  width: 10%;
  height: 50px;
}

.lista a {
  text-decoration: none;
  color: rgb(43, 46, 226);
}

.mensaje {
  color: red;
  text-decoration: overline;
}
.paginacion {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  color: rgb(43, 46, 226);
}
.paginacion a {
  text-decoration: none;
  margin-left: 3px;
  color: rgb(43, 46, 226);
}
footer {
  width: 100%;
  color: rgb(43, 46, 226);
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-left: 0px;
  border-top: 1px solid rgb(43, 46, 226);
}

@media (max-width: 750px) {
  #formularioTitular {
    width: 20%;
    margin-left: 20%;
  }
  .boton {
    margin-left: auto;
    margin-right: auto;
  }

  #buscador {
    left: 20px;
    margin-left: 41%;
    display: block;
  }

  #titularesBox {
    width: 80%;
  }
}
