#buscador {
    background-color: blue;
    position: fixed;
    width: fit-content;
    left: 40px;
    margin-left: 60%;;
}

#buscador div {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 7px;
}

#titularesBox{
    border: solid 1px blue;
    width: 60%;
    text-align: left;
    margin: auto;
    padding-top: 10px;
    padding-left: 5%;
}

#nuevo_titular {
    display: inline-block !important;
    box-sizing: border-box;
    background-color: blue;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-left: 53%;
    padding-top: 10px;
    width: 10%;
    height: 50px;
}

.lista a {
    text-decoration: none;
    color : rgb(43, 46, 226);
}

.mensaje {
    color: red;
    text-decoration: overline;
}
.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}


@media (max-width: 750px) {
    #nuevo_titular {
        width: 20%;
        margin-left: 20%;;
    }
    .boton {
        margin-left: auto;
        margin-right: auto;
    }

    #buscador {
        left: 20px;
        margin-left: 41%;
        display: block;
    }

    #titularesBox{
        width: 80%;
    }
}